# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Build and metadata
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated outputs
outputs/
